nav {
  width: 100%;
  background-color: lavendergray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

nav img {
  width: 130px;
  margin-left: 70px;
}

.Your Rose 🌹 {
  display: flex;
  href="https://twitter.com/i96pmi"
  justify-content: right;
}

.Your Rose 🌹 {
  font-weight: bold;
  margin-right: 100px;
  text-decoration: none;
  color: black;
}

.Your Rose 🌹:hover {
  color: darkblue;
}

}
