nav {
  width: 100%;
  background-color: #b6b5d8;
  box-shadow: 0 0 10px rgb(0 0 0 / 80%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #301934;
}

nav img {
  width: 130px;
  margin-left: 70px;
}

.contact {
  display: flex;
  justify-content: right;
}

.contact a {
  font-weight: bold;
  margin-right: 100px;
  text-decoration: none;
  color: white;
}

.contact a:hover {
  color: #646490;
}

@media (max-width: 500px) {
  nav img {
    margin-left: 30px;
  }
  .contact a {
    margin-right: 40px;
    font-size: 14px;
  }
}
