nav {
  width: 100;
  background-color: #f2b5f6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #301934;
}

nav img {
  width: 130px;
  margin-left: 51px;
}

.contact {
  display: flex;
  justify-content: right;
}

.contact a {
  font-weight: bold;
  margin-right: 100px;
  text-decoration: none;
  color: 690f69;
}

.contact a:hover {
  color: #690f69;
}

@media (max-width: 500px) {
  nav img {
    margin-left: 30px;
  }
  .contact a {
    margin-right: 40px;
    font-size: 14px;
  }
}
